@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><b>Thông tin chi tiết</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Tên Loại Thiết Bị:</b><br>
                            <p id="dtName"></p>
                        </div>
                        <div class="col-md-12" style="margin-top:10px">
                            <b>Dịch Vụ Hỗ Trợ:</b><br>
                            <p id="dtService"></p>
                        </div>
                        <div class="col-md-12" style="margin-top:10px">
                            <b>Mô Tả:</b><br>
                            <p id="dtDescription"></p>
                        </div>
                        <div class="col-md-12" style="margin-top:10px">
                            <b>Ngày Tạo:</b><br>
                            <p id="dtCreateDate"></p>
                        </div>
                        <div class="col-md-12" style="margin-top:10px">
                            <b>Lần Cập Nhật Cuối:</b><br>
                            <p id="dtUpdateDate"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="devicetypeHidden" />
<form onsubmit="checkCreateDeviceType(); return false">
    <div class="container">
        <!-- Modal -->
        <div class="modal fade2" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title"><b>Tạo loại thiết bị mới</b></h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <p>
                            <p id="id"></p>
                            <div class="col-md-12">
                                <b>Tên Loại Thiết Bị:</b><br>
                                <input type="text" id="dtNameCreate" class="form-control">
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <b>Dịch Vụ Hỗ Trợ:</b><br>
                                <select class="form-control select2" style="width: 100%;" id="comboService"></select>
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <b>Mô Tả Loại Thiết Bị:</b><br>
                                <input type="text" id="dtDescriptionCreate" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Tạo Mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="showService()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<form onsubmit="UpdateDeviceType(); return false">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><b>Cập nhật thông tin</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Tên Loại Thiết Bị:</b><br>
                            <input type="text" id="dtNameCreateEdit" class="form-control">
                        </div>
                        <input type="hidden" id="oldNameCreateEdit"/>
                        <div class="col-md-12" style="margin-top:10px">
                            <b>Dịch Vụ Hỗ Trợ:</b><br>
                            <select class="form-control select2" style="width: 100%;" id="comboServiceEdit"></select>
                        </div>
                        <div class="col-md-12" style="margin-top:10px">
                            <b>Mô Tả Loại Thiết Bị:</b><br>
                            <input type="text" id="dtDescriptionCreateEdit" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="UpdateDeviceType()">Cập Nhật</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    .city {
        background-color: azure;
        color: black;
        padding: 1%;
        border-left: solid cadetblue;
        width: 100%;
    }

    p.one {
        margin-top: 5%;
        padding: 2%;
        border-top: 1px solid lightgrey;
        width: 100%;
    }
</style>
<div class="row col-md-12">
    <h3 class="city">Quản Lý Loại Thiết Bị</h3>
</div>
<div class="row col-md-12">
    <table id="detail-table" class="table table-hover" cellspacing="0" style="table-layout: auto">
        <thead>
            <tr>
                <th><label>STT</label></th>
                <th><label>Tên Loại Thiết Bị</label></th>
                <th><label>Dịch vụ Hỗ Trợ</label></th>
                <th><label>Mô Tả</label></th>
                <th><label>Ngày Tạo</label></th>
                <th><label>Tùy Chọn</label></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="NewThing">
        <button type="button" class="btn btn-primary fa fa-plus" style="float:right;margin-top:15px;" data-toggle="modal" data-target="" onclick="showCreateModal()"><font face="verdana"> Tạo Loại Thiết Bị</button>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <script type="text/javascript" src="~/AdminLTE/bower_components/select2/dist/js/select2.js"></script>
    <link href="~/AdminLTE/bower_components/select2/dist/css/select2.css" rel="stylesheet" />
    <script src="~/AdminLTE/bower_components/select2/dist/js/select2.js"></script>
    <script>
        $(document).ready(function() {
            loadDeviceType();
            showService();
        });
        $('#comboService').select2({
            dropdownParent: $('#CreateModal'),
        });
        function loadDeviceType() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllDeviceType", "DeviceType")',
                data: {
                },
                success: function (result) {
                    initDatatable(result.result.ObjReturn);
                },
                error: function(error) {
                    showMessage("Cõ lỗi xảy ra. Vui lòng thử lại sau.", "error", "OK");
                }
            });
        }
        function initDatatable(data) {
            if (data == null) {
                $('#detail-table').dataTable().fnClearTable();
            }
            $("#detail-table").dataTable().fnDestroy();
            $("#detail-table").dataTable({
                stateSave: true,
                "bFilter": true,
                "bSort": false,
                "data": data,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "bProcessing": true,
                "oLanguage": {
                    "sSearch": "Tìm kiếm:",
                    "sSearchPlaceholder": "",
                    "sZeroRecords": "Không có dữ liệu phù hợp",
                    "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                    "sEmptyTable": "Không có dữ liệu",
                    "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                    "sLengthMenu": "Hiển thị _MENU_ dòng",
                    "sProcessing": "Đang xử lý...",
                    "oPaginate": {
                        "sNext": "<i class='fa fa-chevron-right'></i>",
                        "sPrevious": "<i class='fa fa-chevron-left'></i>"
                    }
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0, 2, 3, 4, 5],
                        "bSortable": false,
                        "sClass": "text-center"
                    },
                ],
                "columns": [
                    { "data": "NumericalOrder" },
                    { "data": "DeviceTypeName" },
                    { "data": "ServiceName" },
                    { "data": "Description" },
                    { "data": "CreateDate" },
                    {
                        "aTargets": [5],
                        "mRender": function (data, type, full) {
                            var view = ' <button type="button" class="btn btn-info fa fa-eye" data-toggle="modal" data-target="" onclick="getData(' + full.DeviceTypeId + ')"></button>';
                            var del = ' <button type="button" class="btn btn-warning fa fa-pencil" data-toggle="modal" data-target="" onclick="getDataEdit(' + full.DeviceTypeId + ')"></button>';
                            var edit = ' <button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="" onclick="removeDeviceType(' + full.DeviceTypeId + ')"></button>';
                            return view + " " + del + " " + edit;
                        }
                    },
                ],
                "bAutoWidth": false,
            });
        }
        function showCreateModal() {
            $('#comboService').val(0).change();
            $('#CreateModal').modal('show');
        }
        function clearModal() {
            $('#CreateModal').on('hidden.bs.modal', function (e) {
                $(this)
                    .find("input,textarea,select")
                    .val('')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
            })
        }

        function showService() {
            $('#comboService, #comboServiceEdit')
                .find('option')
                .remove()
                .end();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllServiceITSupport", "ServiceITSupport")',
                data: {
                },

                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    var obj = data.result.ObjReturn;
                    var html = '<option value="0" selected>--Chọn Loại Dịch Vụ--</option>';
                    for (var i = 0; i < obj.length; i++) {
                        html += '<option value="' +
                            obj[i].ServiceITSupportId +
                            '">' +
                            obj[i].ServiceName
                            '</option>';
                    }
                    $('#comboService').append(html);
                    $('#comboServiceEdit').append(html);
                }
            });
        }
        function getData(idd) {

            $.ajax({
                url: '@Url.RouteUrl(new {action = "ViewDetail", controller = "DeviceType" })',

                data: {
                    devicetype_id: idd
                },
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#dtName").text(data.result.ObjReturn.DeviceTypeName);
                    $("#dtService").text(data.result.ObjReturn.ServiceName);
                    $("#dtDescription").text(data.result.ObjReturn.Description);
                    $("#dtCreateDate").text(data.result.ObjReturn.CreateDate);
                    $("#dtUpdateDate").text(data.result.ObjReturn.UpdateDate);
                }
                });
            $('#ViewModal').modal('show');
        }


        function getDataEdit(id) {
            $.ajax({
                url: '@Url.RouteUrl(new {action = "ViewDetail", controller = "DeviceType" })',

                data: {
                    devicetype_id: id
                },
                type: 'GET',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#id").val(data.result.ObjReturn.DeviceTypeId);
                    $("#dtNameCreateEdit").val(data.result.ObjReturn.DeviceTypeName);
                    $('#oldNameCreateEdit').val(data.result.ObjReturn.DeviceTypeName);
                    $("#comboServiceEdit").val(data.result.ObjReturn.ServiceId);
                    $("#dtDescriptionCreateEdit").val(data.result.ObjReturn.Description);
                }
            });
            $('#EditModal').modal('show');
        }
        function UpdateDeviceType() {
            if ($('#oldNameCreateEdit').val() == "") {
                swal("Tên loại thiết bị không được trống", "", "error");
            }
            else if ($('#oldNameCreateEdit').val().length > 50) {
                swal("Tên loại thiết bị không được quá 50 ký tự", "", "error");
            }
            else if ($('#comboServiceEdit').val() == 0) {
                swal("Phải chọn dịch vụ hỗ trợ", "", "error");
            }
            else if ($('#dtDescriptionCreateEdit').val() == "") {
                swal("Mô tả không được trống", "", "error");
            }
            else {
                 var empObj = {
                DeviceTypeId: $('#id').val(),
                ServiceId: $('#comboServiceEdit').val(),
                DeviceTypeName: $('#dtNameCreateEdit').val(),
                Description: $('#dtDescriptionCreateEdit').val(),
                     OldDeviceTypeName: $('#oldNameCreateEdit').val(),
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateDeviceType", "DeviceType")',
                data: JSON.stringify(empObj),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#EditModal').modal('hide');
                    if (!data.result.IsError) {
                        swal(data.result.SuccessMessage, "", "success");
                    }
                    else
                        swal(data.result.WarningMessage, "", "error");
                    loadDeviceType();
                }
            });
            }
        }
        function checkCreateDeviceType() {
            if ($('#dtNameCreate').val() == "") {
                swal("Tên loại thiết bị không được trống", "", "error");
            }
            else if ($('#dtNameCreate').val().length > 50) {
                swal("Tên loại thiết bị không được quá 50 ký tự", "", "error");
            }
            else if ($('#comboService').val() == 0) {
                swal("Phải chọn dịch vụ hỗ trợ", "", "error");
            }
            else if ($('#dtDescriptionCreate').val()=="") {
                swal("Mô tả không được trống", "", "error");
            }
            else {
                createDeviceType();
            }
        }
        function createDeviceType() {
            var empObj = {
                ServiceId: $('#comboService').val(),
                DeviceTypeName: $('#dtNameCreate').val(),
                Description: $('#dtDescriptionCreate').val(),
            }
             $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateDeviceType", "DeviceType")',
                data: JSON.stringify(empObj),

                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                        if (!data.result.IsError) {
                            clearModal();
                            $('#CreateModal').modal('hide');
                            swal(data.result.SuccessMessage, "", "success");
                            loadDeviceType();
                        }
                        else
                        swal(data.result.WarningMessage, "", "error");
                }
            });
        }
        function removeDeviceType(id) {
           swal({
                title: 'Bạn có Chắc Chắn Muốn Xóa?',
                text: "Dữ Liệu Đã Xóa Không Thể Hoàn Lại!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Quay Lại',
                confirmButtonText: 'Chấp Nhận Xóa!'
            }).then(function () {
                deleteDeviceType();
            });
            $('#devicetypeHidden').val(id);
        }
        function deleteDeviceType() {
            var devicetype_id = $('#devicetypeHidden').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("RemoveDeviceType", "DeviceType")',
                data: {
                    devicetype_id: devicetype_id
                },

                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                     swal(
                    'Đã Xóa!',
                    'Dữ Liệu Của Bạn Đã Được Xóa.',
                    'success'
                    )
                    loadDeviceType();
                }
            });
        }

</script>

}

